#backgroundDefault{
    -fx-background-color: dimgray;
}

.button{
    -fx-background-color: cadetblue;
    -fx-text-fill: #FFFFFF;
    -fx-cursor: hand;
}

.button:hover{
    -fx-background-color: linear-gradient(darkgray, grey);
}

.buttonGreen{
    -fx-background-color: green;
    -fx-text-fill: white;
}

.buttonRed{
    -fx-background-color: red;
    -fx-text-fill: white;
}